@model FeedbackSlider

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Teacher Details</h4>

                <img src="~/assets/img/testimonial/@Model.ImageUrl" />
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" disabled accept="image/*">

                </div>
                <div class="form-group">
                    <label asp-for="Feedback">Feedback</label>
                    <input asp-for="Feedback" class="form-control" disabled accept="image/*">
                </div>
                <div class="form-group">
                    <label asp-for="Position">Position</label>
                    <input asp-for="Position" class="form-control" disabled accept="image/*">
                </div>
               


            </div>
        </div>
    </div>
</div>


