@model List<Teacher>

<row>
    <div class="col-lg-9 col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Teachers</h4>

                <div class="table-responsive">
                    <table class="table">
                        <a asp-controller="Teacher" asp-action="Create" class="btn btn-primary text-white">Create</a>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Actions</th>
                                <th>Created</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var teacher in Model)
                            {
                                <tr>
                                    <td><img style="object-fit:contain; width:80px; height:80px" src="~/assets/img/teacher/@teacher.ImageUrl" /></td>
                                    <td>
                                        <a asp-controller="Teacher" asp-action="Details" asp-route-id="@teacher.Id" class="btn btn-primary text-white">Details</a>
                                        <a asp-controller="Teacher" asp-action="Update" asp-route-id="@teacher.Id" class="btn btn-success text-white">Update</a>
                                        <form class="forms-sample" method="post" asp-action="Delete" asp-route-id="@teacher.Id">
                                            <button type="submit" class="btn btn-danger mr-2" asp-action="Delete" asp-route-id="@teacher.Id">Delete</button>
                                        </form>

                                    </td>
                                    <td>12 May 2017</td>
                                    <td><label class="badge badge-danger">Pending</label></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</row>